*{
    margin: 0;
    padding: 0;
    background-color: #F9FBFD;
}
.nav{
    padding-bottom: 70px;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: #9ec0f5;
    color: white;
    font-size: 30px;
    text-align: center;
    position: fixed;
    top: 0;

}
.navbar>p{
    padding-top: 15px ;
    background-color: inherit;
}
.cont-footer{
    padding-top: 10px;
}
.footer{
    width: 100%;
    height: 60px;
    background-color: #5f99f7;
    color: white;
    font-size: 20px;
    text-align: center;
}
.footer>p{
    padding-top: 15px ;
    background-color: inherit;
}
a{
    text-decoration: none;
    color: white;
    background-color: inherit;
}

.mt-1{
    margin-top: 1rem;
}
.mb-1{
    margin-bottom: 1rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
    place-items: center;
    margin: 0 60px;
    /* border: 1px solid black; */
}

.cont-product{
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    
}
.cont-product img{
    width: 200px;
    height: 200px;
    margin: 0  15%;
    background-color: inherit;
}
.cont-product h2{
    border-top: 1px solid black;
    padding: 10px 10px 0 10px;
    background-color: inherit;
}
.cont-product p{
    padding: 0 10px;
    background-color: inherit;
}
a:hover{
    color: blue;
}

